html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #C0C0C0;
}

footer {
    text-align: center;
    background-color: #717978 !important; 
    font-weight: bold !important; 
}

table {
    background-color: white !important; 
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}


.navbar {
    background-color: #2e86c1 !important; 
}

    .navbar .navbar-brand {
        color: white !important;
    }

.navbar-nav .nav-link {
    color: white !important; 
}

    .navbar-nav .nav-link:hover {
        color: #ffcc00 !important; 
    }

.container {
    padding: 0 15px;
}
