@model Frontend.Models.UserViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="~/css/LoginStyles.css" />
</head>
<body>

    <header>
        <nav class="navbar">
            <div class="container">
                <a class="navbar-brand" href="#">Banco Altum</a>
            </div>
        </nav>
    </header>

    <div class="container form-container">
        <h4>Login</h4>
        <hr />
        <form asp-action="Login">
            @Html.HiddenFor(Model => Model.ReturnUrl)

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn" />
            </div>
        </form>
    </div>
    @ViewBag.Message
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    <footer>
        <div class="container">
            &copy; 2024 - Banco Altum
        </div>
    </footer>
</body>
</html>
