@model Frontend.Models.AccessReportViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>AccessReportViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccessReportID" class="control-label"></label>
                <input asp-for="AccessReportID" class="form-control" />
                <span asp-validation-for="AccessReportID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientID" class="control-label"></label>
                <input asp-for="ClientID" class="form-control" />
                <span asp-validation-for="ClientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccessDate" class="control-label"></label>
                <input asp-for="AccessDate" class="form-control" />
                <span asp-validation-for="AccessDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IPAddress" class="control-label"></label>
                <input asp-for="IPAddress" class="form-control" />
                <span asp-validation-for="IPAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Success" class="control-label"></label>
                <input asp-for="Success" class="form-control" />
                <span asp-validation-for="Success" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccessDescription" class="control-label"></label>
                <input asp-for="AccessDescription" class="form-control" />
                <span asp-validation-for="AccessDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AccessType" class="control-label"></label>
                <input asp-for="AccessType" class="form-control" />
                <span asp-validation-for="AccessType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details" class="control-label"></label>
                <input asp-for="Details" class="form-control" />
                <span asp-validation-for="Details" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
